astroid==2.3.2
atomicwrites==1.3.0
attrs==19.3.0
autopep8==1.4.4
bcrypt==3.1.7
CacheControl==0.12.6
cachetools==4.0.0
certifi==2019.9.11
cffi==1.14.0
chardet==3.0.4
Click==7.0
coloredlogs==10.0
coverage==4.5.4
cssselect==1.1.0
decorator==4.4.1
dicttoxml==1.7.4
dnspython==1.16.0
docutils==0.15.2
easygui==0.98.1
env==0.1.0
eventlet==0.25.2
firebase-admin==3.2.1
Flask==1.1.1
Flask-SocketIO==4.2.1
future==0.18.2
gcloud==0.18.3
geocoder==1.38.1
geoip2==2.9.0
google-api-core==1.15.0
google-api-python-client==1.7.11
google-auth==1.10.0
google-auth-httplib2==0.0.3
google-cloud-core==1.1.0
google-cloud-firestore==1.6.0
google-cloud-storage==1.23.0
google-resumable-media==0.5.0
googleapis-common-protos==1.6.0
greenlet==0.4.15
grpcio==1.26.0
httplib2==0.14.0
humanfriendly==4.18
idna==2.8
ip2geotools==0.1.5
IP2Location==8.4.1
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
jws==0.1.3
lazy-object-proxy==1.4.2
lxml==4.4.1
MarkupSafe==1.1.1
maxminddb==1.5.1
mccabe==0.6.1
monotonic==1.5
more-itertools==7.2.0
msgpack==0.6.2
netaddr==0.7.19
oauth2client==4.1.2
packaging==19.2
pip-review==1.0
pkginfo==1.5.0.1
pluggy==0.13.0
pprintpp==0.4.0
protobuf==3.11.1
psycopg2==2.8.5
py==1.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycodestyle==2.5.0
pycountry==19.8.18
pycountry-convert==0.7.2
pycparser==2.20
pycryptodome==3.9.4
Pygments==2.4.2
pylint==2.4.3
pyparsing==2.4.4
pyquery==1.4.1
Pyrebase4==4.3.0
pytest==5.2.2
pytest-cov==2.8.1
pytest-mock==1.11.2
python-engineio==3.12.1
python-jwt==2.0.1
python-socketio==4.5.1
pytz==2019.3
ratelim==0.1.6
readme-renderer==24.0
redis==3.4.1
repoze.lru==0.7
requests==2.22.0
requests-toolbelt==0.9.1
rsa==4.0
selenium==3.141.0
six==1.12.0
tqdm==4.37.0
twine==2.0.0
typed-ast==1.4.0
typing==3.7.4.1
uritemplate==3.0.1
urllib3==1.25.6
virtualenv==16.7.7
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
wrapt==1.11.2
