<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
        <link rel="stylesheet" href="{{ url_for('static',filename='css/app.css') }}">
        <script defer src="{{ url_for('static',filename='js/app.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"
            integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/f89d46e90e.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Airman</title>   
    </head>

    <body style="background: linear-gradient(to right, #74ebd5, #acb6e5); overscroll-behavior: none; scroll-behavior: smooth;"> 
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: transparent;">
            <a class="navbar-brand" style="cursor:pointer;">
                <img src="{{ url_for('static',filename='img/logo.svg') }}" width="30" height="30"
                    class="d-inline-block align-top" alt="" href="">
                Airman
            </a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" style="cursor:pointer;" href="">Sup, {{ username|safe }}</a>
                    <a class="nav-item nav-link" style="cursor:pointer;" href="{{ url_for('logout') }}">logout</a>
                </div>
            </div>
        </nav>

        <div class="main" style="display: block;">
            <div class="container m-0">
                <div class="row">
                    <div class="col-sm-2 mt-3">
                        <button class="btn btn-primary btn-lg active btn-block" onclick="Home()">
                            Home
                        </button>  
                        <div id="friendslist">
                        </div> 
                        <button class="btn btn-primary fixed-bottom ml-2 mb-2" data-toggle="modal" data-target="#exampleModal" type="button" onclick="AddFri()">
                            <i class="fas fa-plus"></i>
                        </button>

                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                    
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-10 mt-3"> 
                        <div class="display_main" style="display: block;">
                            <div class="jumbotron jumbotron-fluid mt-3 mb-3" style="background-color: transparent;">
                                <div class="container">
                                    <h1 class="display-4">Welcome To Airman, {{ username|safe }}</h1>
                                    <p class="lead"> 
                                        To start messaging add a friend form the button <br>
                                        on the bottom left and then click on name on left bar
                                        <b></b>
                                    </p>
                                </div>
                            </div>
                            <noscript>
                                <div class="jumbotron jumbotron-fluid mt-3 mb-3" style="background-color: transparent;">
                                    <div class="container">
                                        <h1 class="display-4">Welcome To Airman, {{ username|safe }}</h1>
                                        <p class="lead"> 
                                            To start messaging add a friend form the button <br>
                                            on the bottom left and then click on name on left bar
                                            <b> I am ngl but i kinda need Javascript to Work</b>
                                        </p>
                                    </div>
                                </div>
                            </noscript>                             
                        </div>
                        <div class="display_message" style="display: none;">
                            <div id="messlist">
                            </div>  
                            <div class="position-sticky">
                                <div class="input-group  mb-5 mt-3">
                                    <input  class="form-control" id="user_message" type="text">
                                    <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" id="send_message" type="button" onclick="Send()">Send</button>
                                    </div>
                                </div>                             
                            </div>
                        </div>                                    
                    </div>                                   
                </div>    
            </div>
        </div>
        <script>
            var name = "{{- username|safe -}}";
            var csocket;
            var cchat = false;

        </script>
    </body>

</html>